{
  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript"
    },
    "minify": {},
    "baseUrl": "src",
    "paths": {
      "$loaders/*": [
        "loaders/*"
      ],
      "$structs/*": [
        "structs/*"
      ]
    }
  }
}